body {
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: whitesmoke;
}
a {
    text-decoration: none;
    color: #3a18b1;
}
header {
    background-color: #1f0954;
    color: whitesmoke;
    padding: 48px 12px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px #ca0147;
}
header p{
    margin: 12px;
    font-size: 1.5em;
}
.content {
    max-width: 1080px;
    width: 75%;
    margin: 40px auto;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    list-style-type: none;
    position: relative;
}
.content h2{
    font-size: 2em;
    margin: 0;
    padding: 15px 25px 5px;
    text-shadow: 2px 2px 4px darkgrey;
}
.plugin {
    position: relative;
    background-color: white;
    border-radius: 12px;
    margin: 20px 25px 30px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.plugin h3{
    margin: 0;
    font-size: 1.5em;
}
.plugin p {
    margin: 10px 0;
}
img.github {
    content: url("https://img.shields.io/badge/Guide-%23c5c9c7?style=flat&logo=GitHub&logoColor=%2303012d");
    height: 25px;
}
footer {
    font-size: smaller;
    color: DimGrey;
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 1080px) {

     .content {
        max-width: 1080px;
        width: 85%;
        margin: 35px auto;
        padding: 15px;
    }
    .plugin {
        margin: 15px 20px 25px;
        padding: 20px;
    }
    img.github {
        height: 24px;
    }
   footer {
        font-size: small;
        margin: 16px;
    }
    .descr {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    header h1{
        margin: 0;
        font-size: 2.5em;
    }
    header p{
        margin: 12px;
        font-size: 1em;
    }
    .content {
        max-width: 480px;
        width: 90%;
        margin: 30px auto;
        padding: 5px;
        border-radius: 12px;

    }
    .content h2{
        margin: 0;
        padding: 15px 20px 0;
        font-size: 1.5em;
    }
    .plugin {
        margin: 15px 10px;
        padding: 15px;
        border-radius: 10px;
    }
    .plugin p {
       font-size: 0.9em;
        margin: 8px 0;
    }
    .plugin h3{
        font-size: 1.2em;
    }
    img.github {
        height: 23px;
    }
    footer {
        font-size: x-small;
        margin: 15px;
    }
    .descr {
        display: none;
    }
}

